@import "../valo/valo";

.acuity-top-bar{
  background-color:#3bafda !important;
  color:white !important;
  padding-left: 7px;
}

.acuity-primary{
  color:#3bafda !important;
}


.acuity-menu-item{
  user-focus: 0 0 0px 0px;
  margin-right: 7px;
  cursor: hand;
}

.acuity-selected{
  color:#3bafda !important;
}

.valo-menu-responsive[width-range~="0-800px"]{
  padding-top: 0 !important;
}

.acuity-footer{
  color: white !important;
  background: #2c3345 none !important;
}

.v-csslayout-smallMargin{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.grid-button{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.view{
  padding-top: 0 !important;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
}

.acuity-menu {
  background: #2a3142 none;
  color: white;

}

.view-top{
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
}

.v-gridlayout-smallMargin{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.v-grid-cell-focused:before {
  display: none !important;
}

